.mensaje-ayuda {
    display : none;
}

.ayuda-deuda-cliente:hover + .mensaje-ayuda {
    display: block;
    position: absolute;
    padding: 1rem;
    background: #007BFF;
    color: white;
    font-weight: bold;
    font-size: 12px;
    max-width: 90%;
    z-index: 9999;
    border-radius: 10px;
}

.icono_pregunta{
    font-size:1.3rem;
    cursor: pointer;
}