.loader-container{
    z-index: 1500;
    width: 100%;
    background-color: rgb(0,0,0,0.3);
    height: 100%;
    position: fixed;
    overflow: hidden;
}

.margin-loader {
    margin: 500px;
}

.meesage{
    font-size: 12px;
    color: white;
}