<div class="container">
    <h3>Bienvenido</h3>
    
    <br>

    <h5>Esta Aplicacion Busca entender la ley de Benford.</h5>

    <br>
    La ley de Benford (por el físico Frank Benford), también conocida como la ley del primer dígito, asegura que, en gran variedad de conjuntos de datos numéricos que existen en la vida real, la primera cifra es 1 con mucha más frecuencia que el resto de los números. Además, según crece este primer dígito, más improbable es que se encuentre en la primera posición. La ley también asegura cierta frecuencia para los siguientes dígitos.

    <br>
    Esta ley se puede aplicar a muchos hechos relacionados con el mundo natural o con elementos sociales: facturas, artículos en revistas, números de puerta, precios, número de habitantes, tasas de mortalidad, longitud de los ríos.
</div>
